pipeline/pip-storedProc-Lookup.json
{
	"name": "pip-storedProc-Lookup",
	"properties": {
		"activities": [
			{
				"name": "Get Dep Names from Emp table",
				"type": "SqlServerStoredProcedure",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_getDepartmentIdsFromEmp]"
				},
				"linkedServiceName": {
					"referenceName": "linked_srv_az_sql_srv",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Lookup get DepIds from Emp",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[usp_getDepartmentIdsFromEmp]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dataset_az_sql_db_hr",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Dep Id in Emp Table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup get DepIds from Emp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup get DepIds from Emp').output.value.Department_ID",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Wait For 1 Sec",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}