pipeline/pip_getMetadata_and_more_transformations.json
{
	"name": "pip_getMetadata_and_more_transformations",
	"properties": {
		"activities": [
			{
				"name": "get_hr_files_medata_from_storage",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "csv_dataset_for_hr_db_files",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "For-each-file-in-container",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get_hr_files_medata_from_storage",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get_hr_files_medata_from_storage').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "varTemp",
								"value": {
									"value": "@add(variables('intFileCounter'),1)",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "filter_validation",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "For-each-file-in-container",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get_hr_files_medata_from_storage').output.itemNamevariables('intFileCounter')",
						"type": "Expression"
					},
					"condition": {
						"value": "@greater(variables('intFileCounter'),20)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"intFileCounter": {
				"type": "Integer",
				"defaultValue": 0
			},
			"varTemp": {
				"type": "Integer"
			}
		},
		"annotations": []
	}
}