pipeline/pip_getMetadata_length_AppendVar_forEach.json
{
	"name": "pip_getMetadata_length_AppendVar_forEach",
	"properties": {
		"activities": [
			{
				"name": "Get HR DB Files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "csv_dataset_for_hr_db_files",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems",
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Check if File Cnt is more than 5",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get HR DB Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(length(activity('Get HR DB Files').output.childItems),5)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Wait False",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Wait True",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			},
			{
				"name": "For Each HR Files",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Check if File Cnt is more than 5",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get HR DB Files').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Append File Names",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "varFileNameArray",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Validate Array",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "For Each HR Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "varTemp",
					"value": {
						"value": "@variables('varFileNameArray')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach-item-in-array",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Validate Array",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('varFileNameArray')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			}
		],
		"variables": {
			"varFileNameArray": {
				"type": "Array"
			},
			"varTemp": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}